$color-text: rgb(14, 14, 14);

body {
  background-color: black;
  color: $color-text;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#display {
  border: solid 1px white;
}
